<header>
  <h1>PETPARTNER</h1>
  <p><%= link_to "掲載する", new_animal_path %><p>


  <% if user_signed_in? %>
    <p><%= current_user.nick_name%>でログイン中</p>
    <p><%= link_to "マイページ", users_show_path%></p>
  <% else %>
    <p><%= link_to "ログイン", new_user_session_path %></p>
  <% end %>
  <%= form_with(url: animals_path, local: true, method: :get) do |form|%>

    <%= form.select :pet_type, [["猫",0],["犬",1]], include_blank: "動物を選択"%>

    <%= form.select :vaccinated, [["接種済み",0],["未接種",1]], include_blank: "ワクチンの接種状況を選択"%>

    <%= form.select :spayed_neutered, [["去勢済み",0],["未去勢",1]], include_blank: "去勢手術の状況を選択"%>

    <%= form.select :sex, [["オス",0],["メス",1]], include_blank: "性別を選択"%>

    <%= form.select :age, 
    [ ["0~3ヶ月", 0], ["3~6ヶ月", 1], ["6ヶ月~1歳", 2], ["1歳~1歳半", 3],
      ["1歳半~2歳", 4],["2歳~3歳", 5],["3歳~4歳", 6], ["4歳~5歳", 7],
      ["5歳~6歳", 8], ["6歳~7歳", 9], ["8歳~9歳", 10], ["9歳~10歳", 11],
      ["10歳以上", 12]
    ], include_blank: "年齢を選択して下さい"%>

    <% prefectures = [
    ["北海道", 0],["青森県", 1],["岩手県", 2],["宮城県", 3],["秋田県", 4],
    ["山形県", 5],["福島県", 6],["茨城県", 7],["栃木県", 8],["群馬県", 9],
    ["埼玉県", 10],["千葉県", 11],["東京都", 12],["神奈川県", 13],["新潟県", 14],
    ["富山県", 15],["石川県", 16],["福井県", 17],["山梨県", 18],["長野県", 19],
    ["岐阜県", 20],["静岡県", 21],["愛知県", 22],["三重県", 23],["滋賀県", 24],
    ["京都府", 25],["大阪府", 26],["兵庫県", 27],["奈良県", 28],["和歌山県", 29],
    ["鳥取県", 30],["島根県", 31],["岡山県", 32],["広島県", 33],["山口県", 34],
    ["徳島県", 35],["香川県", 36],["愛媛県", 37],["高知県", 38],["福岡県", 39],
    ["佐賀県", 40],["長崎県", 41],["熊本県", 42],["大分県", 43],["宮崎県", 44],
    ["鹿児島県", 45],["沖縄県", 46]
    ]%>
    <div class="dropdown">
      <button class="btn btn-secondary dropdown-toggle" type="button" id="prefectureDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      都道府県を選択して下さい
      </button>
      <div class="dropdown-menu" aria-labelledby="prefectureDropdown" style="max-height: 300px; overflow-y: auto;">
        <% prefectures.each do |name, value| %>
          <div class="form-check px-4">
            <%= check_box_tag 'prefecture[]', value, false, class: 'form-check-input' %> 
            <%= label_tag "prefecture_#{value}", name, class: 'form-check-label' %>
          </div>
        <% end %>
      </div>
    </div>

    <!-- 選択した都道府県名を表示する領域 -->
    <div id="selectedPrefectures">
      <script>
        document.addEventListener("DOMContentLoaded", function() {
        let dropdownMenu = document.querySelector('.dropdown-menu');
        let selectedPrefecturesDiv = document.getElementById('selectedPrefectures');

        dropdownMenu.addEventListener('change', function(event) {
          if (event.target.matches('input[type="checkbox"]')) {
              updateSelectedPrefectures();
          }
        });

        function updateSelectedPrefectures() {
          let selectedItems = dropdownMenu.querySelectorAll('input[type="checkbox"]:checked');
          let selectedNames = [];

          selectedItems.forEach(function(item) {
            let label = document.querySelector(`label[for="${item.id}"]`);
            if (label) {
                selectedNames.push(label.textContent);
            }
          });

          selectedPrefecturesDiv.textContent = selectedNames.join(', ');
        }
      });
      </script>
    </div>

    <%= form.submit "検索する"%>
  <% end %>
</header>

<body>
  <table>
    <% if @animals.present?%>
      <% @animals.each do |animal|%>
        <tr>
          <td>
            <%= link_to animal_path(animal) do %>
              <%= image_tag url_for(animal.images.first), size: "200x200" if animal.images.first.present? %>
            <% end %>
          </td>
        </tr>
      <% end %>
    <% else %>
      <h1>動物はいません</h1>
    <% end %>
  </table>
</body>

<footer>
  <p>@PETPARTNER</p>
</footer>