<html>
  <head>
    <link rel="stylesheet" href="animals/new.css">
  </head>

  <%= form_with(model: @animal, local:true, url: animals_path) do |form|%>
    <% if @animal.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@animal.errors.count, "error") %> 件のエラーがあるため投稿できません</h2>
        <ul>
          <% @animal.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <header>
      <h1>動物情報入力画面</h1>
    </header>

    <body>
      <div class="animal_pictures">
        <%= form.file_field :images, multiple: true, id: "image_field" %>
      </div>
      <div id="image_preview"></div>

      <p class="animal_select">動物の種類</p>
      <div class="cat">
        <%= form.label :"猫" ,class:"animal"%>
        <%= form.radio_button :pet_type, 0 %>
      </div>
      <div class="dog">
        <%= form.label :"犬" ,class:"animal"%>
        <%= form.radio_button :pet_type, 1 %>
      </div>

      <div class="pet_name">
        <%= form.label :"名前" %>
        <%= form.text_field :pet_name %>
      </div>

      <div class="select">
        <p>性別を選択してください</p>
        <%= form.label :"オス" %>
        <%= form.radio_button :sex, 0 %>
        <%= form.label :"メス" %>
        <%= form.radio_button :sex, 1 %>
      </div>

      <div class="select">
        <p>以下から条件に合う年齢を選択してください</p>
        <%= form.select :age, 
          [["0~3ヶ月", 0], ["3~6ヶ月", 1], ["6ヶ月~1歳", 2], ["1歳~1歳半", 3],
          ["1歳半~2歳", 4],["2歳~3歳", 5],["3歳~4歳", 6], ["4歳~5歳", 7],
          ["5歳~6歳", 8], ["6歳~7歳", 9], ["8歳~9歳", 10], ["9歳~10歳", 11],
          ["10歳以上", 12]
          ], include_blank: "年齢を選択して下さい"
        %>
      </div>

      <div class="select">
        <p>ワクチンの接種状況を選択してください</p>
        <%= form.label :"接種済み" %>
        <%= form.radio_button :vaccinated, 0 %>
        <%= form.label :"未接種" %>
        <%= form.radio_button :vaccinated, 1 %>
      </div>

      <div class="select">
        <p>去勢手術の状況を選択してください</p>
        <%= form.label :"去勢済み" %>
        <%= form.radio_button :spayed_neutered, 0 %>
        <%= form.label :"未去勢" %>
        <%= form.radio_button :spayed_neutered, 1 %>
      </div>

      <div class="note">
        <%= form.label :"ペットの説明やその他記載" %>
        <%= form.text_area :note %>
      </div>

      <%= form.submit "掲載する"%>
    <body>
  <% end %>

  <%= link_to "一覧画面にもどる", animals_path %>
</html>

<script>
  document.getElementById('image_field').addEventListener('change', function(e) {
    // 既存のプレビュー画像をクリア
    document.getElementById('image_preview').innerHTML = '';

    var files = e.target.files;
    for (var i = 0; i < files.length; i++) {
      var file = files[i];
      var reader = new FileReader();
      reader.onload = (function(file) {
        return function(e) {
          // 画像として表示するためのHTMLを生成
          var div = document.createElement('div');
          div.innerHTML = '<img src="' + e.target.result + '" style="width: 200px; height: auto;" />';
          // 画像を表示
          document.getElementById('image_preview').appendChild(div);
        };
      })(file);
      reader.readAsDataURL(file);
    }
  });
</script>