<h1><%= @animal.pet_name%>のページ<h1>


<% if @animal.trading_status == 1 && current_user != @animal.user%>
  <h2><%= @animal.pet_name%>は現在取引中です。</h2>
<% end %>

<% if @animal.trading_status == 2 && current_user != @animal.user%>
  <h2><%= @animal.pet_name%>の里親は無事に見つかりましたので応募できません</h2>
<% end %>
<%if @animal.images.attached? %>
  <% @animal.images.each do |image|%>
    <%= image_tag image, size:"200x200" %>
  <% end %>
<% end %>

<p>種類:<%= @animal.pet_type %></p>

<p>性別:<%= @animal.sex %></p>

<p>年齢:<%= @animal.age %></p>

<p>ワクチン接種状況:<%= @animal.vaccinated %></p>

<p>去勢手術:<%= @animal.spayed_neutered %></p>

<p>都道府県:<%= @animal.prefecture%>

<p>説明:<%= @animal.note%></p>

<p>投稿したユーザー:<%= @animal.user.nick_name%></p>

<% if @animal.user == current_user%>
  <%= link_to "動物の情報を編集する", edit_animal_path %>
  <%= link_to "削除する", animal_path, method: :delete, data: {confirm: "本当に削除してもいいですか？"}%>
<% end %>

<p>お気に入り登録人数:<%= @animal.favorites.count%>人</p>
<% if user_signed_in? && @animal.user != current_user%>
  <% if current_user.favorited_by?(@animal.id)%>
    <div><%= link_to "❤️", animal_favorite_path(@animal), method: :delete%></div>
  <% else %>
    <div><%= link_to "♡", animal_favorites_path(@animal), method: :post%></div>
  <% end %>
<% end %>

<% if current_user == @animal.user %>
  <%= link_to "取引画面へ", room_path(@roomId), class: "btn btn-primary btn-lg" %>
<% end %>

<% if user_signed_in? && @animal.user != current_user%>
  <% if @isRoom == true %>
    <p class="user-show-room"><a href="/rooms/<%= @roomId %>" class="btn btn-primary btn-lg">チャットへ</a>
  <% else %>
    <%= form_for @room, url: start_chat_animal_path(@animal) do |f|%> <!-- start_chatのルートを指定する必要があります -->
      <%= fields_for @entry do |e|%>
        <%= e.hidden_field :user_id, value: @user.id %>
      <% end %>

      <% if @animal.trading_status == 0%>
        <%= f.submit "この動物に応募する" %>
      <% end %>
    <% end %>
  <% end %>
<% end %>

<%= link_to "一覧画面に戻る", animals_path%>

