<div class = "pet_name">
  <h1><%= @animal.pet_name%>のページ<h1>
</div>

<div class = "animal_info">
  <% if @animal.trading_status == 1 && current_user != @animal.user%>
    <h2 class="text-3xl ..."><%= @animal.pet_name%>は現在取引中です。</h2>
  <% end %>

  <% if @animal.trading_status == 2 && current_user != @animal.user%>
    <h2 class="text-3xl ..."><%= @animal.pet_name%>の里親は無事に見つかりましたので応募できません</h2>
  <% end %>
  <%if @animal.images.attached? %>
    <div class = "show_image_preview">
      <% @animal.images.each do |image|%>
        <%= image_tag image, size:"200x200" %>
      <% end %>
    </div>
  <% end %>

  <p class = "show_p">種類:<%= @animal.pet_type %></p>

  <p class = "show_p">性別:<%= @animal.sex %></p>

  <p class = "show_p">年齢:<%= @animal.age %></p>

  <p class = "show_p">ワクチン接種状況:<%= @animal.vaccinated %></p>

  <p class = "show_p">去勢手術:<%= @animal.spayed_neutered %></p>

  <p class = "show_p">都道府県:<%= @animal.prefecture%>

  <p class = "show_p">説明:<%= @animal.note%></p>

  <p class = "show_p">投稿したユーザー:<%= @animal.user.nick_name%></p>
</div>

<div class = "favorite">
  <% if user_signed_in? && @animal.user != current_user%>
    <div class = "favorite">
      <% if current_user.favorited_by?(@animal.id)%>
        <%= link_to "❤️", animal_favorite_path(@animal), method: :delete%><%= @animal.favorites.count%>
      <% else %>
        <%= link_to "♡", animal_favorites_path(@animal), method: :post%><%= @animal.favorites.count%>
      <% end %>
    </div>
  <% end %>
</div>

<div class = "button">
  <% if @animal.user == current_user && @animal.trading_status == 0%>
    <%= link_to "動物の情報を編集する", edit_animal_path, class: "py-3 px-4 inline-flex justify-center items-center gap-2 rounded-md border-2 border-green-200 font-semibold text-green-500 hover:text-white hover:bg-green-500 hover:border-green-500 focus:outline-none focus:ring-2 focus:ring-green-200 focus:ring-offset-2 transition-all text-sm dark:focus:ring-offset-gray-800" %>
    <%= link_to "削除する", animal_path, method: :delete, data: {confirm: "本当に削除してもいいですか？"},class: "py-3 px-4 inline-flex justify-center items-center gap-2 rounded-md border-2 border-red-200 font-semibold text-red-500 hover:text-white hover:bg-red-500 hover:border-red-500 focus:outline-none focus:ring-2 focus:ring-red-200 focus:ring-offset-2 transition-all text-sm dark:focus:ring-offset-gray-800"%>
  <% end %>

  <% if current_user == @animal.user  && (@animal.trading_status == 1 || @animal.trading_status == 2) %>
    <%= link_to "取引画面へ", room_path(@roomId), class: "btn btn-primary btn-lg" %>
  <% end %>

  <% if user_signed_in? && @animal.user != current_user %>
    <% if @isRoom == true && current_user.id == @entry.user_id%>
      <p class="user-show-room"><a href="/rooms/<%= @roomId %>" class="btn btn-primary btn-lg">チャットへ</a>
    <% else %>
      <%= form_for @room, url: start_chat_animal_path(@animal) do |f|%> <!-- start_chatのルートを指定する必要があります -->
        <%= fields_for @entry do |e|%>
          <%= e.hidden_field :user_id, value: @user.id %>
        <% end %>

        <% if @animal.trading_status == 0%>
          <%= f.submit "この動物に応募する",class:"py-3 px-4 inline-flex justify-center items-center gap-2 rounded-md border-2 border-green-200 font-semibold text-green-500 hover:text-white hover:bg-green-500 hover:border-green-500 focus:outline-none focus:ring-2 focus:ring-green-200 focus:ring-offset-2 transition-all text-sm dark:focus:ring-offset-gray-800" %>
        <% end %>
      <% end %>
    <% end %>
  <% end %>

  <%= link_to "一覧画面に戻る", animals_path, class:"py-3 px-4 inline-flex justify-center items-center gap-2 rounded-md border-2 border-gray-900 font-semibold text-gray-800 hover:text-white hover:bg-gray-800 hover:border-gray-800 focus:outline-none focus:ring-2 focus:ring-gray-800 focus:ring-offset-2 transition-all text-sm dark:hover:bg-gray-900 dark:border-gray-900 dark:hover:border-gray-900 dark:text-white dark:focus:ring-gray-900 dark:focus:ring-offset-gray-800"%>
</div>
