<% if @chat.errors.any? %>
  <ul>
    <% @chat.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
<% end %>

<h4 class="text-5xl ..."><%= @animal.pet_name %>の取引チャットルーム</h4>

<div class = "room_users">
  <% @entries.each do |e| %>
    <%= image_tag e.user.icon.url, size:50, class:"inline-block h-[2.375rem] w-[2.375rem] rounded-full ring-2 ring-white dark:ring-gray-800" %><%= e.user.nick_name %>
  <% end %>
</div>

<% if @messages.present? %>
  <% @messages.each do |m|%>
    <%= image_tag m.user.icon.url, size:50, class: "inline-block h-[2.375rem] w-[2.375rem] rounded-full ring-2 ring-white dark:ring-gray-800" %>
    <span class="inline-block"><%= m.message %> <%= m.created_at.strftime("%Y-%m-%d %H:%M") %></span>
    <br>

    <% if m.image.present? %>
      <%= image_tag m.user.icon.url, size:50, class: "inline-block h-[2.375rem] w-[2.375rem] rounded-full ring-2 ring-white dark:ring-gray-800" %>
      <%= image_tag m.image.url, size:100, class: "inline-block" %>
      <span class="inline-block"><%= m.created_at.strftime("%Y-%m-%d %H:%M") %></span>
      <br>
    <% end %>
  <% end %>
<% end %>

<div class = "input">
  <%= form_for @chat do |f| %>
    <div class = "text_input">
    <%= f.text_field :message, placeholder: "メッセージを入力", class:"bg-gray-200 rounded-md"%>
    </div>

    <%= f.hidden_field :room_id, value: @room.id %>
    <%= f.file_field :image, id: 'image_input' %>

    <br>
    <img id="image_preview" src="#" alt="Image Preview" style="display: none; width: 5rem; height: 5rem;">

    <%= f.submit "送信", class: "btn btn-success" %>
  <% end %>
</div>

<% if user_signed_in? && current_user == @animal.user && @animal.trading_status == 1%>
  <%= button_to "取引を中止する", trading_destroy_animal_path(@animal), method: :delete, data: { confirm: "本当に取引を中止しますか？" },class:"btn btn-danger" %>
<% end %>

<% if @animal.trading_status == 1%>
  <%= link_to "取引相手の情報を見る", userinfo_path(@room.entries.where.not(user_id: current_user.id).first.user_id),class: "btn btn-info"%>
<% end %>

<%= link_to "一覧画面へ戻る", animals_path,class:"btn btn-primary"%>

<% if @animal.trading_status == 1%>
  <a href="https://meet.google.com/" target="_blank" rel="noreferrer noopener" class="btn btn-dark">webでビデオ通話をする</a>
<% end %>

<% if TradingEvaluation.find_by(room_id: @room.id,user_id: current_user.id)%>
  <p>評価済みです</p>
<% else %>
  <%= link_to "取引相手を評価する", new_trading_evaluation_path(room_id: @room.id), data: {confirm:"取引が終わったので取引相手を評価しますか？"}, class:"btn btn-success"%>
<% end %>

<script>
  document.addEventListener('turbolinks:load', function() {
    if (typeof $ === 'undefined') {
      console.error('jQuery is not loaded');
      return;
    }

    $('#image_input').off('change').on('change', function(e) {
      var reader = new FileReader();
      reader.onload = function(e) {
        $("#image_preview").attr('src', e.target.result);
        $("#image_preview").show();
      }
      reader.readAsDataURL(this.files[0]);
    });
  });
</script>






